<h2>Burger Buffet!</h2>


<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <ul>
            {{#each burgers}}
            <li>
            <p>{{id}}. {{burger_name}}</p><button class="change-sleep">Devour
	          </button>
            {{/each}}
            </li>
        </ul>
    </div> 
   
    <form>
    <label for="burger_name">New Burger</label><br>
    <input type="text" id="burger" name="newburger" placeholder="Type New Burger Heres"><br>
    <button type="submit">Add Cat</button>
    </form>

  
    </div>
  </div>
</div> 


