<h2>Burger Buffet!</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <ul>
            {{#each burger}}
            {{/each}}
        </ul>
    </div>
    <div class="col-sm-6">
        <ul>
            {{#each burger}}
            {{/each}}
        </ul>

    <form>
    <label for="burger_name">New Burger</label><br>
    <input type="text" id="burger" name="newburger" placeholder="Type New Burger Heres"><br>
    <button type="submit">Add Cat</button>
    </form>

  
    </div>
  </div>
</div>


